---
layout: index
title: Trento Web
tagline: Material design for Github-pages
img : 1.jpg
img-mobile : 1-mobile.jpg
---
{% include JB/setup %}

{% include themes/bootstrap/nav-bar.html %}


  <hr>
  <div id="header-wrapper">
        <div id="logo">
            <a class="main-logo" href="https://designmodo.com" title="Designmodo &#8211; Web Design Blog and Shop" data-wpel-link="internal"></a>
        </div><!--end logo-->


    </div><!--end header-wrapper-->

    <div id="main-wrapper">


        <script type="text/javascript">try {Typekit.load();}catch(e){}</script>

<div class="presenation">
    <section class="video">
        <div id="bgVideo" class="background"></div>
        <div class="holder">
            <div class="cont">
                <span class="sdf"><strong>Startup</strong> Design Framework</span>
                <a href="https://vimeo.com/designmodo/startup" target="_blank" class="play" data-wpel-link="external" rel="nofollow"><span class="fui-play"></span></a>
                <span class="suys"><strong>Suit Up</strong> your Startup</span>
                <a class="arrow" href="#overview" data-wpel-link="internal"><span aria-hidden="true" class="icn_arrow"></span></a>
            </div>
        </div>
    </section>

	<nav id="upper-nav" class="hide">
		<div class="holder">
			<ul>
				<li><a href="#framework" data-wpel-link="internal">Framework</a></li>
				<li class="collapsible1"><a href="#demo" data-wpel-link="internal">Demo</a></li>
				<li><a href="#components" data-wpel-link="internal">Components</a></li>
				<li class="collapsible2"><a href="#samples" data-wpel-link="internal">Samples</a></li>
				<li class="collapsible2"><a href="/generator/" target="_blank" data-wpel-link="internal">Generator<span style="margin-left: 7px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="14" height="14" viewBox="0 0 32 32"><path d="M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z" fill="#cccccc"></path></svg></span></a></li>
			</ul>
			<a href="/startup/?add-to-cart=109981" class="buynowTopmenu" data-wpel-link="internal">Buy Now</a>
			</ul>
		</div>
	</nav>

    <section class="simple-block" id="overview">
        <div class="holder">
            <h3>We have created a new product that will help designers, developers and companies create websites for their startups quickly and easily.</h3>
        </div>
    </section>

    <section class="features" id="framework">
        <ul id="topSliderCtrl">
            <li><a data-slide-index="0" data-wpel-link="internal">First</a></li>
            <li><a data-slide-index="1" data-wpel-link="internal">Second</a></li>
            <li><a data-slide-index="2" data-wpel-link="internal">Third</a></li>
        </ul>
        <ul id="topSlider">
            <li>
                <section class="first">
                    <div class="holder">
                        <h1>Beautiful Framework</h1>
                        <p>A high-quality solution for those who want a beautiful startup website quickly.</p>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon2.png"/>
                            <h3>Many Components</h3>
                            <p>There are a lot of different components that will help you create the perfect look and feel for your startup.</p>
                        </div>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon1.png"/>
                            <h3>Block Model</h3>
                            <p>You can easily combine components in a variety ways for different design projects. It’s easy!</p>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="second">
                    <div class="holder">
                        <h1>Ready to Code</h1>
                        <p>Each component is coded for web which makes creating a website quick and easy.</p>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon4.png"/>
                            <h3>Based on Bootstrap 3</h3>
                            <p>HTML layout is based on one of the most common and reliable framework - Bootstrap.</p>
                        </div>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon3.png"/>
                            <h3>HTML5, CSS3, LESS</h3>
                            <p>We used only time-tested technologies for the best results.</p>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="third">
                    <div class="holder">
                        <h1>Benefits</h1>
                        <p>Startup Framework includes great form options for your startup projects.</p>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon5.png"/>
                            <h3>Save Time</h3>
                            <p>Take a break from the routine and spend your time brainstorming ideas for your business, not your website.</p>
                        </div>
                        <div class="item">
                            <img class="icon" src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/scrollBlock/Icon6.png"/>
                            <h3>Save Money</h3>
                            <p>Startups can save money on design and code and use those savings to develop the business.</p>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </section>

    <section class="demo" id="demo">
        <div class="holder">
            <div class="background">
                <div></div>
            </div>
            <div class="cont">
                <h1>Demo Version<span class="forksandstars">
                        <iframe src="//ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=watch&count=true&size=small" frameborder="0" scrolling="0" style="width: 95px;height: 20px;border:none;" allowTransparency="true"></iframe><iframe src="//ghbtns.com/github-btn.html?user=designmodo&repo=startup-demo&type=fork&count=true&size=small" frameborder="0" scrolling="0" style="width: 90px;height: 20px;border:none;" allowTransparency="true"></iframe></span></h1>
                <p>Learn more about Startup Framework in the light demo version. It has components from the full version, two great samples and documentation. You can also find two images of a Macbook and an iPad, which you can use in your projects. We hope you will like this introduction to Startup Framework!</p>
                <a href="http://designmodo.github.io/startup-demo" target="_blank" class="button" data-wpel-link="external" rel="nofollow">View Demo on Github</a>
                <ul>
                    <li>
                        <h2>What’s in the Demo?</h2>
                        <p><strong>11</strong> Components</p>
                        <p><strong>2</strong> Samples</p>
                        <p><strong>2</strong> Pictures</p>
                    </li>
                    <li>
                        <h2>What's in the Full Version?</h2>
                        <p><strong>100</strong> Components</p>
                        <p><strong>25</strong> Samples</p>
                        <p><strong>14</strong> Pictures</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="dof">
        <div class="holder">
            <div class="cont">
                <span class="text-block" style="-webkit-filter:blur(5px);filter:blur(5px);">Focus on Design</span>
            </div>
        </div>
        <div class="background">
			<div class="cards layer1"></div>
			<div class="cards layer2"></div>
			<div class="cards layer3"></div>
        </div>
    </section>

    <section class="components" id="components">
        <div class="details">
            <div class="cont">
                <h1>Many Useful Components</h1>
                <p>Startup Framework contains components and complex blocks which can easily be integrated into almost any design. All of the components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions.</p>
            </div>
        </div>
        <div class="holder">
            <ul>
                <li class="first"><h3>Responsive Layout</h3><p>We haven’t forgotten about responsive layout. With Startup Framework, you can create a website with full mobile support.</p></li>
                <li class="second"><h3>Clear Grid</h3><p>Components and blocks are fixed to the common and popular 12 Grid system, something designers and developers can agree on.</p></li>
                <li class="third"><h3>Retina Ready</h3><p>Startup Framework works on devices supporting Retina Display. Feel the clarity in each pixel.</p></li>
            </ul>
            <div id="component-grid" class="screenshots">
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/content1.jpg" id="components-contentblocks" alt="Components: Content Blocks" class="c1"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/content2.jpg" id="components-contentblocks2" alt="Components: Content Blocks" class="c2"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/blogs.jpg" id="components-blogs" alt="Components: Blogs" class="c3"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/headers1.jpg" id="components-headers" alt="Components: Headers" class="c4"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/contacts.jpg" id="components-contacts" alt="Components: Contacts" class="c5"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/crew.jpg" id="components-crew" alt="Components: Crew" class="c6"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/footer.jpg" id="components-footers" alt="Components: Footers" class="c7"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/headers2.jpg" id="components-headers2" alt="Components: Headers" class="c8"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/price.jpg" id="components-pricetables" alt="Components: Price Tables" class="c9"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/components/projects.jpg" id="components-projects" alt="Components: Projects" class="c10"/></div>
            </div>
        </div>
    </section>
	<a class="genBanner" href="https://designmodo.com/generator/" target="_blank" data-wpel-link="internal">Create a website with these components using <strong>generator</strong></a>

    <section class="samples" id="samples">
        <div class="details">
            <div class="cont">
                <h1>Twenty Five Awesome Samples</h1>
                <p>The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit. By choosing one of the 25 configurations of the future startup, the process of creation is simple and easy.</p>
            </div>
        </div>
        <div class="holder">
            <ul>
                <li class="first"><h3>Easy to use</h3><p>To get started, you select the desired sample and base the entire website on it. It’s that simple!</p></li>
                <li class="second"><h3>Variety of designs</h3><p>You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.</p></li>
                <li class="third"><h3>Feel our design</h3><p>Samples will show you the feeling on how to play around using the components in the website building process.</p></li>
            </ul>
            <div id="samples-grid" class="screenshots">
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-1.jpg" alt="Sample 1" id="sample1" data-structure="0:1,1:4,1:25,7:6"/></div>
                <div class="screen double"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-8.jpg" alt="Sample 7" id="sample7"  data-structure="0:18"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-22.jpg" alt="Sample 7" id="sample7c" data-structure="0:18"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-23.jpg" alt="Sample 5" id="sample5" data-structure="0:17,1:1,1:5,1:13,7:8"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-9.jpg" alt="Sample 3" id="sample3" data-structure="0:11,2:1,1:13,7:2"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-17.jpg" alt="Sample 4" id="sample4" data-structure="0:10,1:7,1:23,1:8,1:23,1:8,1:11,7:3"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-2.jpg" alt="Sample 2" id="sample2" data-structure="0:2,1:10,7:1"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-24.jpg" alt="Sample 6" id="sample6" data-structure="0:3,1:2,1:28,1:9,1:30,1:9,1:12,7:4" /></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-10.jpg" alt="Sample 9" id="sample9" data-structure="0:4,1:20,1:3,1:3,2:1"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-3.jpg" alt="Sample 8" id="sample8" data-structure="0:21,6:2,1:6,1:12,1:17,7:9"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-18.jpg" alt="Sample 11" id="sample11" data-structure="0:6,1:3,7:10"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-25.jpg" alt="Sample 17" id="sample17" data-structure="0:12,1:19,2:1,7:13"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-11.jpg" alt="Sample 10" id="sample10" data-structure="0:5,3:3,7:7"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-4.jpg" alt="Sample 4" id="sample4" data-structure="0:20,1:37,7:11"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-19.jpg" alt="Sample 18" id="sample18" data-structure="0:9,1:21,1:24,1:22,2:2,7:13"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-26.jpg" alt="Sample 22" id="sample22" data-structure="0:16,1:15,1:7,1:18,2:2"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-12.jpg" alt="Sample 13" id="sample13" data-structure="0:7"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-5.jpg" alt="Sample 15" id="sample15" data-structure="0:8,1:29,1:27,1:18,7:12"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-13.jpg" alt="Sample 14" id="sample14" data-structure="0:19,1:31,1:26,1:11,7:5"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-27.jpg" alt="Sample 23" id="sample23" data-structure="0:13,1:14,1:23,1:9,1:23,1:9,7:12,4:1"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-20.jpg" alt="Sample 19" id="sample19" data-structure="0:15,1:3,7:14"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-6.jpg" alt="Sample 16" id="sample16" data-structure="0:9,1:9"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-21.jpg" alt="Sample 21" id="sample21" data-structure="0:22,1:3,1:15,1:3,1:7,1:11"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-14.jpg" alt="Sample 21" id="sample22" data-structure="0:15,3:2"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-7.jpg" alt="Sample 25" id="sample25" data-structure="0:23,1:33,1:34,1:35,1:23,1:32,1:35,1:36"/></div>
                <div class="screen"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/samples/img-15.jpg" alt="Sample 24" id="sample24" data-structure="0:14"/></div>
            </div>
        </div>
    </section>
    <section class="lastBlock" id="lastBlock-wrapper">
        <ul id="lastBlockCtrl">
            <li class="menuicon"><span aria-hidden="true" class="icn_menu"></span></li>
            <li><a data-slide-index="0" data-wpel-link="internal">Showcase</a></li>
            <li><a data-slide-index="1" data-wpel-link="internal">Images</a></li>
            <li><a data-slide-index="2" data-wpel-link="internal">Documentation</a></li>
            <li><a data-slide-index="3" data-wpel-link="internal">Information</a></li>
        </ul>
        <ul id="lastSlider">
            <li>
                <section class="showcase">
                    <div class="holder">
                        <div class="bg">
                            <div class="pic1 visible"></div>
                            <div class="pic2"></div>
                        </div>
                        <div class="cont">
                            <h1>Showcase</h1>
                            <p>Two perfect examples of live sites using Startup Framework: Crumbs and Hipsta Food. These guys have a passion for cooking food and they are really a good deal.</p>
                            <ul>
                                <li><a href="http://crumbs.am" target="_blank" data-wpel-link="external" rel="nofollow"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/crumbs.png" alt="Crumbs"><b><strong>Crumbs</strong><span class="svgIcon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 0 32 32"><path d="M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z" fill="#eaeaea"/></svg></span></b> <span>Fresh food, delicious desserts, artisan breads and cozy atmosphere. All at one place.</span></a></li>
                                <li><a href="http://hipstafood.com/" target="_blank" data-wpel-link="external" rel="nofollow"><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/bottomSlider/hipstafood.png" alt="Hipstafood"><b><strong>Hipstafood</strong><span class="svgIcon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 0 32 32"><path d="M30 0h-16c-1.105 0-2 0.894-2 2v16c0 1.105 0.895 2 2 2h16c1.105 0 2-0.895 2-2v-16c0-1.105-0.895-2-2-2zM28 16h-12v-12h12v12zM16 28h-12v-12h4v-4h-6c-1.105 0-2 0.895-2 2v16c0 1.105 0.894 2 2 2h16c1.105 0 2-0.895 2-2v-6h-4v4z" fill="#eaeaea"/></svg></span></b><span>Handy iPhone App preparing for the launch will show you recipes and teach you to cook.</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="moreThanImage">
                    <div class="holder">
                        <div class="bg">
                            <div class="pic1 visible"></div>
                            <div class="pic2"></div>
                            <div class="pic3"></div>
                        </div>
                        <div class="cont">
                            <h1>More Than Image</h1>
                            <p>We prepared some HQ photos that you can use in your projects. When you have to present an app or website on iPhone, iPad or Macbook, these images are available. It’s a quick solution if you don’t have ready-to-use images.</p>
                            <ul>
                                <li><h3>Smart Layers</h3><p>Put the image with your App screen inside the Smart Layer and get the photo.</p></li>
                                <li><h3>High Resolution</h3><p>Photos are saved at a size of 2.5K and will work even for large sites.</p></li>
                            </ul>
                            <div class="anthony">Photos are by <a href="http://photo.repponen.com/" target="_blank" data-wpel-link="external" rel="nofollow">Anton Repponen</a> from his world travel. If you would like copies for commercial use, contact him directly.</div>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="doc">
                    <div class="holder">
                        <div class="bg">
                            <div></div>
                        </div>
                        <div class="cont">
                            <h1>Documentation</h1>
                            <p>Documentation is important to help you, the developer, get to know the product. We tried to describe all the components, provide set-up instructions and troubleshoot commons issues.</p>
                            <ul>
                                <li><h3>User Guide</h3><p>You’ll get a description of each component and learn how to connect and use them.</p></li>
                                <li><h3>Video Tutorials</h3><p>Video tutorials will show you how to make a website from design to code.</p></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="info">
                    <div class="holder">
                        <div id="subMenuWrapper">
                            <div class="submenu">
                                <div></div>
                                <ul id="subMenuCtrl">
                                    <li><span class="selected">Technical Information</span></li>
                                    <li><span>Press Release</span></li>
                                    <li class="faq-u"><span>F.A.Q.</span></li>
                                </ul>
                            </div>
                            <ul id="subMenu">
                                <li class="active">
                                    <div class="cont">
                                        <h1>Technical Information</h1>
                                        <p>We will be glad to answer your questions. We strive to improve each Designmodo product and plan to release cool updates soon.
                                        <div><a href="https://designmodo.com/contact-us/" target="_blank" class="ask" data-wpel-link="internal">Ask a Question</a></div>
                                        </p>

                                        <dl class="tech-info">
                                            <dt>Curent Version</dt>		<dd class="clearfix">1.1.3 - <a href="https://designmodo.com/startup-changelog/" target="_blank" data-wpel-link="internal">View Changelog</a> </dd>
                                            <dt>Format</dt>			<dd class="clearfix">PSD, HTML, CSS, JS, LESS</dd>
                                            <dt>Size</dt>			<dd class="clearfix">602.2 MB, Zip</dd>
                                            <dt>Consists</dt>			<dd class="clearfix">Components<br> 25 Samples<br> Photos</dd>
                                            <dt>Bootstrap Version</dt>          <dd class="clearfix">3.0.3</dd>
                                            <dt>License</dt>			<dd class="clearfix"><a href="https://designmodo.com/startup-license" target="_blank" data-wpel-link="internal">Commercial License</a></dd>
                                            <dt>Updates</dt>			<dd class="clearfix">Free</dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="cont">
                                        <h1>Press Release</h1>
                                        <p>In case you’ve decided to write about our project on your blog you can use this press release. It includes all necessary information about Startup Framework: project description, images that you can use while writing articles, and banners and information about our affiliate program.</p>
                                        <p>
                                            <a href="https://designmodo.com/startup-press-release" target="_blank" data-wpel-link="internal">Open Press Release</a>
                                        <div><a class="ask" href="mailto:info@designmodo.com?subject=Hello!">Contact Us</a></div>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="cont faqiframe">
                                        <h1>F.A.Q.</h1>
                                        <object width="100%" type="text/html" data="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/faq.html"></object>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </section>
    <section class="clients">
		<div class="holder">
			<span style="position:relative;top:3px;">Our Clients</span>
			<span><img src="https://designmodo.com/wp-content/themes/designmodov2.1/custom-pages/startup/presentation/img/clients/clients.png" alt="Our Clients" /></span>
		</div>
	</section>

    <section class="purchase" id="purchase">
        <div class="holder">
            <h1>Get Startup Framework</h1>
            <a href="https://designmodo.com/startup-license" target="_blank" class="license" data-wpel-link="internal">Commercial License</a>
                            <a href="/startup/?add-to-cart=109981" id="buynowbutton" class="button" data-wpel-link="internal">Purchase for $249</a>

                    </div>
    </section>

    <section class="social">
        <div class="holder"></div>
    </section>
</div>

<div style="min-height: 100px;"></div>


<div style="clear:both;"></div>

</div><!-- end main-wrapper -->
