<div ng-init="cpp= true; java=false; python=false; qt=true; t=true;"></div>

<checkbox value="0" id="cpp" text="C++" checked="cpp"/>
<checkbox value="1" id="java" text="Java" checked="java"/>
<checkbox value="2" id="python" text="Python" checked="python"/>
<checkbox value="3" id="qt" text="Qt" checked="qt"/>

<br/>

<radiobutton value="0" name="group1" id="flat" text="Flat UI pro" checked="t"/>
<radiobutton value="1" name="group1" id="jquery" text="jQuery UI" checked="t"/>
<radiobutton value="2" name="group1" id="tw" text="Twitter bootstrap" checked="t"/>
<radiobutton value="3" name="group1" id="flat" text="Zurb foundation" checked="t"/>