<button class="btn btn-wide btn-primary" ng-click="openModal()">Open modal</button>

<modal open="isModalOpen">
    <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Modal header</h4>
    </div>

    <div class="modal-body">
        <p>Modal content = {{2 + 2}}</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-wide" data-dismiss="modal">Ok</button>
        <button class="btn btn-danger btn-wide" data-dismiss="modal">Cancel</button>
    </div>
</modal>